.idea/*
.cody/*
vendor/*
theme/*
*.log
/public/.well-known/mta-sts.txt
/composer.lock
/public/run-unit-test.php
bootstrap/config/development/*.json
bootstrap/config/production/*.json
bootstrap/config/test/*