.idea/*
.cody/*
vendor/*
theme/*
*.log
/public/.well-known/mta-sts.txt
/composer.lock
/public/run-unit-test.php
/app/Assets/resources/config/development/*.json
/app/Assets/resources/config/production/*.json
/app/Assets/resources/config/test/